## Deliverable 3. Create a Travel Itinerary Map.

In [37]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [38]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("cities.csv")
vacation_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Jinchang,38.4953,102.1739,49.82,20,100,9.82,CN,2021-03-28 12:42:15
1,1,Tuktoyaktuk,69.4541,-133.0374,-21.95,99,99,8.77,CA,2021-03-28 12:42:15
2,2,Hofn,64.2539,-15.2082,36.68,60,100,27.45,IS,2021-03-28 12:42:16
3,3,Sao Felix Do Xingu,-6.6447,-51.9950,75.45,91,100,0.65,BR,2021-03-28 12:42:16
4,4,Vaini,-21.2000,-175.2000,77.00,94,75,5.75,TO,2021-03-28 12:42:16

In [48]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>

"""



# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [49]:
# 4a. Add a marker layer for each city to the map.
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)
fig=gmaps.figure()
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
vacation_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Jinchang,38.4953,102.1739,49.82,20,100,9.82,CN,2021-03-28 12:42:15
1,1,Tuktoyaktuk,69.4541,-133.0374,-21.95,99,99,8.77,CA,2021-03-28 12:42:15
2,2,Hofn,64.2539,-15.2082,36.68,60,100,27.45,IS,2021-03-28 12:42:16
3,3,Sao Felix Do Xingu,-6.6447,-51.9950,75.45,91,100,0.65,BR,2021-03-28 12:42:16
4,4,Vaini,-21.2000,-175.2000,77.00,94,75,5.75,TO,2021-03-28 12:42:16
5,5,Punta Arenas,-53.1500,-70.9167,44.60,57,20,24.16,CL,2021-03-28 12:40:39
6,6,Lagunas,-5.2269,-75.6753,73.49,98,100,1.81,PE,2021-03-28 12:42:16
7,7,Saldanha,-33.0117,17.9442,84.20,32,100,8.05,ZA,2021-03-28 12:42:17
8,8,Yellowknife,62.4560,-114.3525,12.20,62,75,11.50,CA,2021-03-28 12:42:17
9,9,Maracas,-13.4411,-40.4308,82.29,30,1,3.09,BR,2021-03-28 12:42:17

In [51]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start =vacation_df.loc[vacation_df["City"]=="Lagunas"]
vacation_end =vacation_df.loc[vacation_df["City"]=="Lagunas"]
vacation_stop1 =vacation_df.loc[vacation_df["City"]=="Saldanha"]
vacation_stop2 =vacation_df.loc[vacation_df["City"]=="Yellowknife"]
vacation_stop3 =vacation_df.loc[vacation_df["City"]=="Maracas"]

In [52]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start['Lat'].to_numpy()[0],vacation_start['Lng'].to_numpy()[0])
end = (vacation_end['Lat'].to_numpy()[0],vacation_end['Lng'].to_numpy()[0])
stop1 = (vacation_stop1['Lat'].to_numpy()[0],vacation_stop1['Lng'].to_numpy()[0])
stop2 = (vacation_stop2['Lat'].to_numpy()[0],vacation_stop2['Lng'].to_numpy()[0])
stop3 = (vacation_stop3['Lat'].to_numpy()[0],vacation_stop3['Lng'].to_numpy()[0])

In [53]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_layer=gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3],travel_mode="DRIVING")
fig=gmaps.figure()
fig.add_layer(vacation_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,6,Lagunas,-5.2269,-75.6753,73.49,98,100,1.81,PE,2021-03-28 12:42:16
1,7,Saldanha,-33.0117,17.9442,84.20,32,100,8.05,ZA,2021-03-28 12:42:17
2,8,Yellowknife,62.4560,-114.3525,12.20,62,75,11.50,CA,2021-03-28 12:42:17
3,9,Maracas,-13.4411,-40.4308,82.29,30,1,3.09,BR,2021-03-28 12:42:17

In [55]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [56]:
# 11a. Add a marker layer for each city to the map.
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)
fig=gmaps.figure()
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))